#connectwithme {
	overflow: auto;
	clear: both;
	box-sizing: border-box;
	position: relative; 
	bottom: 625px; 
	right: -465px;
	background-color: #ffffff;
	width: 30%;
	color: #4aaaa5;
	padding: 5px; 
	text-align: center;
	font-size: 18px;
}

#letsgetsocial {
	display: inline; 
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.wow1 img{
    height: 164px;
    width: 164px;
    margin: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
	transition: all 1s ease;
}
 
.wow1 img:hover {
	height: 197px;
	width: 264px;
	margin-left: -50px;
}